.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 40px;
  row-gap: 60px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}